/*CSS reset settings here*/
* {
  margin: 20px;
  padding: 20px;
}
#wrapper {
  width: fit-content;
  background-color: silver;
  margin: 0px auto;
}
#header {
  min-height: 150px;
  background-color: green;
}
#navigation {
  min-height: 375px;
  width: 200px;
  background-color: blue;
  display:inline-block;
}
#main_content {
  min-height: 400px;
  background-color: red;
  width: 880px;
  display: inline-block;
  vertical-align: top;
}
.subcontents {
  min-height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
}
#advertisement {
  min-height: 120px;
  background-color: purple;
}
